* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  align-items: center;
  background: url('./image/dark-space.jpg') no-repeat center fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  padding-block: 30px;
}

table {
  /* Aplicação da estilização com overflow
  horizontal proveniente do Stack Overflow (link:
  https://stackoverflow.com/questions/19794211/horizontal-scroll-on-overflow-of-table) */
  display: block;
  line-height: 60px;
  margin: 0 auto;
  max-width: fit-content;
  overflow-x: auto;
  padding-top: 30px;
  white-space: nowrap;
}